.dynamic-island {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    min-width: 64px;
    width: max-content;
    min-height: 24px;
    background-color: #111;
    border-radius: 24px;
    margin: 0 auto;
    padding: 2px 8px;
    cursor: pointer;
    transition: 0.2s all 0.1s;
    color: #eee;
}

.dynamic-island:hover {
    min-width: 128px;
}
